body{
	margin:0;
	padding:0;
	background:#ddd;
	overflow:hidden;
	font-family:Arial;
}

a{
	color:#cc3300;
	font-weight:bold;
	text-decoration:none;
}

/* UI / Welcome-Lightbox */
#ui-welcome>article{
	position:relative;
	width:800px;
	margin:10% auto;
	top:auto;
	right:auto;
	bottom:auto;
	left:auto;
}

#ui-welcome h2{
	margin:0;
	padding:0;
}
#ui-welcome p{
	margin:0.25em 0;
}

#ui-welcome .ui-badge-container{
	display:block;
	text-align:center;
}
#ui-welcome .ui-badge{
	display:inline-block;
	margin:30px 20px;
}
.ui-badge:nth-child(odd){
	-webkit-transform:rotate(5deg);
}
.ui-badge:nth-child(even){
	-webkit-transform:rotate(-5deg);
}
.ui-badge:hover, .ui-badge:focus{
	background:#ccaa99;
	-webkit-transform:rotate(0deg);
}




#ninja{
	position:fixed;
	right:20px;
	bottom:0px; /* 10px to the bottom is left, because of walking animation */
	z-index:1002;
}

#ninja-speechbubble{
	position:fixed;
	bottom:80px;
	right:210px;
	z-index:1003;
}

